<% if (typeof post != 'undefined') { %>
<h2 class="title span8"><a href="/<%= formatSlug(post.slug) %>"><%= post.title %></a></h2>
<div class="span8">
  <%- post.html %>
  <div class="byline">
    by <%= geddy.site.firstName + ' ' + geddy.site.lastName %> on <%= geddy.date.strftime(post.createdAt, '%m.%d.%y') %>
  </div>
</div>
<% } else { %>
  <h3>This blog is powered by <a href="http://github.com/techwraith/scotch">Scotch</a></h3>
  <p>It doesn't look like <%= geddy.site.firstName %> has posted anything yet &hellip;</p>
  <a href="http://twitter.com/<%= geddy.site.twitter %>" class="btn btn-small btn-grey">Contact <%= geddy.site.firstName %> on Twitter</a>
  <script>
    $('.container').css({'width': '100%', 'text-align': 'center'});
  </script>
<% } %>

<% if (typeof posts != 'undefined' && posts.length > 1) { %>
<div class="menu right">
  <a href="/<%= formatSlug(posts[1].slug); %>" class="btn btn-grey">&laquo; older post</a>
  <a href="javascript://" class="btn btn-grey btn-disabled">newer post &raquo;</a>
</div>
<% } %>

<% if (typeof previous != 'undefined' || typeof next != 'undefined') { %>
<div class="menu right">
  <a href="<%= previous ? '/' + formatSlug(previous.slug) : 'javascript://'; %>" class="btn btn-grey <%= !previous ? 'btn-disabled' : '' %>">&laquo; older post</a>
  <a href="<%= next ? '/' + formatSlug(next.slug) : 'javascript://'; %>" class="btn btn-grey <%= !next ? 'btn-disabled' : '' %>">newer post &raquo;</a>
</div>
<% } %>
