<%
  geddy.site = geddy.site || {};
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      <%= geddy.site.title; %>
      <% if (typeof post != 'undefined' && params.action == 'show') { %>
      |  <%= post.title %>
      <% } %>
      <% if (params.controller == 'dashboard') { %>
      |  Dashboard
      <% } %>
    </title>
    <meta name="description" content="">
    <meta name="author" content="<%= geddy.site.firstName + ' ' + geddy.site.lastName; %>">
    <meta name="viewport" content="width=device-width" />

    <!-- The HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <%- scriptLink('http://html5shim.googlecode.com/svn/trunk/html5.js', {type:'text/javascript'}) %>
    <![endif]-->

    <script src="http://use.edgefonts.net/asap.js"></script>
    <script src="http://use.edgefonts.net/m-1m.js"></script>
    <script src="http://use.edgefonts.net/inika.js"></script>

    <%- scriptLink('/js/jquery.min.js', {type:'text/javascript'}) %>
    <%- scriptLink('/js/jquery.autosize-min.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/keymaster.min.js', {type: 'text/javascript'}) %>
    <%- scriptLink('/js/keymaster.sequence.min.js', {type: 'text/javascript'}) %>

    <%- styleLink('/css/style.css', {rel:'stylesheet'}) %>
    <%- styleLink('/css/highlight.css', {rel:'stylesheet'}) %>

    <!-- The fav and touch icons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>
  <body class="<%= params.controller.toLowerCase() %>">
    <header class="meta">
      <% if (geddy.site.firstName && geddy.site.lastName) { %>
        <a href="/" class="btn btn-grey"><%= geddy.site.firstName + ' ' + geddy.site.lastName %></a>
      <% } %>
      <% if (geddy.site.twitter) { %>
        <a href="http://twitter.com/<%= geddy.site.twitter %>" class="btn btn-grey">@<%= geddy.site.twitter %></a>
      <% } %>
      <% if (session.get('site')) { %>
        <a href="/dashboard/logout" class="btn btn-grey pull-right hidden-phone">log out<a>
        <a href="/dashboard" class="btn btn-grey pull-right hidden-phone">dashboard</a>
      <% } %>
    </header>
    <div class="container">
      <%- yield(); %>
    </div>
  </body>
</html>
